@if map-has-key($globalConfig, spacing-unit){
  $base-spacing-unit: map-get($globalConfig, spacing-unit) !global;
} @else {
  $base-spacing-unit: base(line-height) !global;
}
@if map-has-key($globalConfig, line-height-ratio){
  $line-height-ratio: map-get($globalConfig, line-height-ratio) !global;
} @else {
  $line-height-ratio: base(line-height) / base(font-size) !global;
}

/**
  * @name font-size($font-size, $important)
  * @description Create a fully formed type style (sizing and vertical rhythm) by passing in a single px value
  * @type mixin
  * @section functions
  *
  * @param $font-size (String) - Desired font size, with 'px'
  * @param $important (Boolean) - Include !important flag - Default: false
  *
  * @example include font-size(12px);
  *
  */
@mixin font-size($font-size, $important:false){
  @if $important {
    font-size:$font-size!important;
    font-size:($font-size / base(font-size))*1rem!important;
  }
  @else {
    font-size:$font-size;
    font-size:($font-size / base(font-size))*1rem;
  }
}
