/**
  * @name truncate($truncation-boundary)
  * @description Force overly long spans of text to truncate
  * @type mixin
  * @section functions.truncate
  *
  * @param $truncation-boundary (String) - United measurement (px, %, em, or rem).
  *
  * @example include truncate(100%);
  *
  */
@mixin truncate($truncation-boundary){
  max-width:$truncation-boundary;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
